:root {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.795);
    background-color: #1d1d1d;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    padding: 0 1em;
}

h1 {
    font-size: 3em;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

a {
    font-weight: 500;
    color: #464dca;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #535bf2;
}

button {
    padding: 0.5em 1em;
    font-size: 0.90em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    margin-top: 1em;
}

button:hover {
    border-color: #565ffd;
    background-color: #2a2a2a;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #f9f9f9;
        /* Светлый фон */
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
        border-color: #dcdcdc;
    }
}
